In [6]:
import numpy as np

data = np.load("/Users/woojin/Documents/paper/Physionet_EDF_based/Sleep_EDF_Based/AttnSleep/saved/Exp1_EDF78/31_12_2024_09_35_57_fold0/trgs_0.npy")

In [7]:
import pandas as pd

In [8]:
df = pd.DataFrame(data)

In [9]:
df

         0
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
...    ...
41914  0.0
41915  0.0
41916  0.0
41917  0.0
41918  0.0

[41919 rows x 1 columns]

In [10]:
pd.DataFrame(data).to_csv('data.csv', index=False)